.add-tool {
    background-color: lightblue;
    min-height: 100vh;
    text-align: center;

    .auth-form,
    .edit-interface {
        margin: 0;
        padding-top: 6rem;
    }

    .edit-interface {
        padding-bottom: 2rem;
    }

    select,
    input, 
    button {
        border-radius: 8px;
        border: none;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
        padding: 0.8em 1em;
    }

    button {
        display: block;
        margin: 1rem auto 0 auto;
        background-color: var(--btn-color-primary);
        color: white;
    }

    .word-item {
        button {
            position: absolute;

            &.insert-button {
                border-radius: 50%;
                transform: translateY(-100%);
                padding: 0;
                margin-left: .5rem;
                $button-size: 1.5rem;
                width: $button-size;
                height: $button-size;
            }

            &.edit-button {
                right: -3rem;
                bottom: 50%;
                transform: translateY(50%);
            }
        }
    }

    .addtool-form {
        select {
            display: block;
            margin: auto auto 2rem auto;
        }

        input {
            &::placeholder {
                text-transform: capitalize;
            }

            & + input {
                margin-left: 1rem;
            }
        }
    }
}