.add-tool {
    background-color: lightblue;
    min-height: 100vh;
    text-align: center;

    .auth-form,
    .edit-interface {
        margin: 0;
        padding-top: 6rem;
    }

    .edit-interface {
        padding-bottom: 2rem;
    }

    select,
    input, 
    button {
        border-radius: 8px;
        border: none;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
        padding: 0.8em 1em;
    }

    button {
        display: block;
        margin: 1rem auto 0 auto;
        background-color: var(--btn-color-primary);
        color: white;
    }

    .update-word-modal {
        background: white;
        min-width: 60vw;
        min-height: 20vh;
        border-radius: 1rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        flex-direction: column;

        .inputfields {
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            p {
                text-transform: capitalize;
                margin-bottom: .5rem;
            }
        }
    }

    .word-item {
        button {
            position: absolute;
            right: -3rem;
            bottom: 50%;
            transform: translateY(50%);
        }
    }

    .addtool-form {
        select {
            display: block;
            margin: auto auto 2rem auto;
        }

        input {
            &::placeholder {
                text-transform: capitalize;
            }

            & + input {
                margin-left: 1rem;
            }
        }
    }
}