*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --window-height: 100vh;
  --banner-size: 5.2em;
  --header-height: 5rem;
  --btn-color-primary:  rgb(1, 1, 102);
}

html {
  box-sizing: border-box;
  font-family: Sans-serif;
}
