*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --window-height: 100vh;
  --banner-size: 5.2em;
  --header-height: 5rem;
  --btn-color-primary:  rgb(1, 1, 102);
}

html {
  box-sizing: border-box;
  font-family: Sans-serif;
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 40vw;
  margin: 1em auto;
}

.error .error-msg {
  display: block;
  color: black;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}