.navboxes {
    position: relative;
    top: -5rem;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-row-gap: 2rem;
    justify-items: space-between;
    padding: 0 5rem;

    a {
        text-decoration: none;
    }
}