body {
  margin: 0;
  overflow-x: hidden;
}

.main {
  min-height: var(--window-height);
  background-image: url('../../Banner-image-cut.png');
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  background-position: center;
  padding-top: var(--banner-size);
}
