.rehearse-page {
    height: var(--window-height);
    background-color: lightblue;
    text-align: center;
}

.rehearse-page .rehearsal:nth-child(2) {
    padding: calc(var(--header-height) + 2rem) 0 2rem 0;
    z-index: 500;
}

.rehearse-page .word-select {
    padding: calc(var(--header-height) + 3rem) 0 2rem 0;
}

.rehearse-page .word-select input, .rehearse-page .word-select button {
    margin: 0 1em;
}

.rehearse-page .word-select input {
    border-radius: 0.5em;
    border: none;
    margin: 0 1em;
    padding: 0.75em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.rehearse-page .word-select button {
    background-color: var(--btn-color-primary);
    color: white;
    cursor: pointer;
}

.rehearse-page button.select-btn {
    margin: 2em auto;
}

.rehearse-page button.next, button.show, button.select-btn {
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.rehearse-page .error {
    background-color: rgba(255, 0, 0, 0.5);
    color: darkred;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 40vw;
    margin: 1em auto;
}

.rehearse-page .error .error-msg {
    display: block;
    color: black;
    font-weight: bold;
}

.rehearse-page .loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 30%;
    left: 47.5%;
}

.rehearse-page .rehearsal h1 {
    font-size: 3.5rem;
    margin-top: 0;
}

.rehearse-page .solution {
    background-color: rgb(233, 233, 113);
    border: 1px solid rgb(126, 126, 15);
    padding: 1em;
    max-width: 50%;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.rehearse-page .solution h1.property-title {
    text-transform: capitalize;
    font-size: 2rem;
}

.rehearse-page .solution ul.property-details {
    font-size: 1.5rem;
}

.rehearse-page button {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.rehearse-page .show-btn {
    padding: 0.5em 1em;
    background-color: rgb(221, 221, 221);
    border: none;
    cursor: pointer;
    font-size: 1.25em;
    border-radius: 0.5rem;
}

.rehearse-page .next-btn {
    margin-top: 1rem;
    padding: 0.5em 1em;
    background-color: var(--btn-color-primary);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    border-radius: 0.5rem;
}

.rehearse-page .end-message {
    background-color: rgb(58, 158, 58);
    border: 2px solid darkgreen;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    position: relative;
    top: 6.5rem;
    min-height: 12rem;
    max-width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}