.header {
  background-image: url('./header-background.png');
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  background-position: center;
  text-align: center;
  height: var(--header-height);
  font-size: calc(var(--header-height) / 2.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  font-family: Garamond;
}

.header a {
  text-decoration: none;
  color: white;
}
