.vocabulary-navbox-line {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  @media only screen and (min-width: 900px) {
    .vocabulary-navbox-line {
      flex-direction: row;
    }
  }
  
  @media only screen and (min-width: 700px) and (orientation: landscape) {
    .vocabulary-navbox-line {
      grid-row: 2;
    }
  }
  
  @media only screen and (min-height: 800px) {
    .vocabulary-navbox-line {
      margin-top: 20em;
    }
  }
  