.addtool-form {
    text-align: center;
}

.addtool-form h1 {
    margin: 0;
    padding: var(--header-height) 0 1em 0;
}

.addtool-form input, .addtool-form button {
    margin: 0 1em;
    padding: 0.75em;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.addtool-form input::placeholder {
    text-transform: capitalize;
}

.addtool-form button {
    margin-top: 1rem;
    background-color: rgb(1, 1, 102);
    color: white;
    width: 10em;
    cursor: pointer;
}