.pocket-mode {
    height: var(--window-height);
    background-color: lightblue;
    text-align: center;
}

.pocket-mode h1 {
    padding: var(--header-height) 0 2rem 0;
    margin: 0;
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
    color: darkred;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

button.next, button.show {
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

button.next {
    background-color: rgb(21, 21, 167);
    color: white;
}