.pocket-mode {
    height: var(--window-height);
    background-color: lightblue;
    text-align: center;
}

.pocket-mode h1 {
    padding: var(--header-height) 0 2rem 0;
    margin: 0;
}

.pocket-mode .word-select {
    padding: calc(var(--header-height) + 3rem) 0 2rem 0;
}

.pocket-mode .word-select input, .pocket-mode .word-select button {
    margin: 0 1em;
}

.pocket-mode .word-select input {
    border-radius: 0.5em;
    border: none;
    margin: 0 1em;
    padding: 0.75em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.pocket-mode .word-select button {
    background-color: var(--btn-color-primary);
    color: white;
    cursor: pointer;
}

.pocket-mode button.next, button.show, button.select-btn {
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.error {
    background-color: rgba(255, 0, 0, 0.5);
    color: darkred;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

button.next {
    background-color: var(--btn-color-primary);
    color: white;
}