.addtool-form {
    text-align: center;
    padding-top: 7rem;
}

.addtool-form select {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    border: none;
}

.addtool-form input, .addtool-form button {
    margin: 0 1em;
    padding: 0.75em;
    border-radius: 0.5em;
    border: none;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}

.addtool-form input::placeholder {
    text-transform: capitalize;
}

.addtool-form button {
    margin-top: 1rem;
    background-color: rgb(1, 1, 102);
    color: white;
    width: 10em;
    cursor: pointer;
}

.addtool-form .error {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid darkred;
    color: rgb(97, 10, 10);
    padding: 0.25rem;
    border-radius: 0.5rem;
    min-height: 4rem;
    max-width: 60vw;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addtool-form .error .error-msg {
    font-weight: bold;
    color: black;
}

.addtool-form .history {
    background-color: white;
    width: 60vw;
    margin: 1em auto;
    padding: 1em;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.addtool-form .history .history-item {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}