.more {
    height: 100vh;
    background-color: lightblue;
    text-align: center;

    h1 {
        padding-top: 6rem;
        margin: 0;
    }

    select, input, button {
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.25rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    }

    select {
        margin-top: 1rem;
    }

    & + select {
        margin-left: 1.5em;
    }

    input, button {
        display: block;
        margin: 1em auto;
    }

    button {
        cursor: pointer;
    }

    .text {
        background-color: white;
        width: 80vw;
        margin: auto;
        padding: 1em;
        letter-spacing: 0.4px;
        line-height: 1.3em;
        font-family: Garamond;
        font-size: 1.25em;
    }

    .btn-row {
        display: flex;
        width: 40vw;
        margin: auto;
    }

    button.next-btn, .more button.prev-btn {
        background: none;
        box-shadow: none;
        font-size: 2em;
        padding: 0;
    }
}