.vocabularium {
  min-height: var(--window-height);
  background-color: lightblue;
}

.vocabularium .banner-header {
  color: rgb(68, 61, 61);
  padding-top: 6rem;
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
  .vocabularium {
    height: 100vh;

  }
}

@media only screen and (max-width: 900px) {
  .vocabularium {
    min-height: var(--window-height);
  }
}