.searchbar-container {
    padding-top: 7rem;
    .searchbar {
        margin: 0 auto;
        width: 50vw;
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

        input,
        button {
            width: 100%;
            height: 100%;
        }

        input {
            padding: .5rem 2rem;
            font-size: 1.5rem;
            border: none;
        }

        button {
            background-color: grey;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}

.vocabularium-list {
    background-color: lightblue;
    min-height: var(--window-height);
    text-align: center;
    padding-bottom: 3rem;

    .title {
        margin: 0;
        padding-top: 6rem;
    }
}