.vocabularium-list {
    background-color: lightblue;
    min-height: var(--window-height);
    text-align: center;
}

.vocabularium-list .title {
    margin: 0;
    padding-top: 6rem;
}

.vocabularium-list .word-list {
    background-color: white;
    width: 70vw;
    margin: 2rem auto;
}

.vocabularium-list .subst1-header {
    background-color: rgb(212, 211, 211);
}

.vocabularium-list .subst1-header p {
    margin: 0;
    padding: 1rem 0;
    border: 1px solid black;
}

.vocabularium-list .word-list .word-item, .subst1-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.vocabularium-list .word-list .word-item p {
    margin: 0;
    padding: 1rem 0.25rem;
    border-bottom: 1px dashed grey;
}

.vocabularium-list .word-list .word-item p + p {
    border-left: 1px solid grey;
}