.more {
    height: 100vh;
    background-color: lightblue;
    text-align: center;
}

.more h1 {
    padding-top: 6rem;
    margin: 0;
}

.more select, .more input, button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.more select {
    margin-top: 1rem;
}

.more select + select {
    margin-left: 1.5em;
}

.more input, button {
    display: block;
    margin: 1em auto;
}

.more button {
    cursor: pointer;
}

.more .text {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 1em;
    letter-spacing: 0.4px;
    line-height: 1.3em;
}

.more .btn-row {
    display: flex;
    width: 40vw;
    margin: auto;
}

.more button.next-btn, .more button.prev-btn {
    background: none;
    box-shadow: none;
    font-size: 2em;
    padding: 0;
}