.more {
    height: 100vh;
    background-color: lightblue;
}

.more .content h1 {
    text-align: center;
    margin: 0;
}

.more .content {
    padding: calc(var(--header-height) + 1.5em) 0 2rem 0;
}